@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800;900&display=swap');

*,html{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Kumbh Sans', sans-serif;
}

body{
    width: 100vw;
    height:100vh;
    background-color: #f4f6f8;
    /* overflow-x: hidden; */
    padding:0px;
    margin: 0 auto;
}


/* font sizes */

.font_size_28{
    line-height: 34px;
    font-size: 28px;
}

.font_size_16{
    line-height: 20px;
    font-size: 16px;
}

.normal_font{
   font-size: 16px;
   line-height: 26px;
}

.font_16_2{
    font-size:16px;
    line-height:19.84px;
}

/* font family */
.bold_font_90{
    font-style: normal;
    font-weight: 900;
}

.bold_font_70{
    font-style: normal;
    font-weight: 700;
}

.font_40{
    font-style: normal;
    font-weight: 400;
}

/* Colors */

.font-color-white{
    color:#FFFFFF;
}

.font-color-violet{
    color:#9e7f66;
}

.font-color-gray{
    color:#6E8098;
}

.font-color-2{
    color:#19202D;
}

/* Header Caption and Theme */

 /* #header_container{
    background-attachment: fixed;
}  */

.img_head1{
   background: url(./starter-code/assets/desktop/bg-pattern-header.svg); 
   background-repeat: no-repeat;
   background-size: 100% auto;
   width: 100vw;
   height:162px;
  /* margin:0 auto; */
}

.img_sun{
    background: url(./starter-code/assets/desktop/icon-sun.svg);
    background-repeat: no-repeat;
    height: 18.6px;
    width:20px;
    margin-top: 2px;
}


.img_moon{
    background: url(./starter-code/assets/desktop/icon-moon.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-top: 6px;
    margin-left: 5px;
}

#theme_container{
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 24px;
    width: 112px;
}

#mode_button{
    outline: none;
    width: 48px;
    height: 24px;
    position: relative;
    appearance: none;
    mix-blend-mode: normal;
    background-color: #ffffff;
    margin:auto 8px;
    border-radius: 12px;
    border: 1px solid #5964E0;
}

#mode_button::before{
    content: "";
    position: absolute;
    top:4px;
    left: 3px;
    width:14px;
    height: 14px;
    border-radius: 50px;
    background-color: #5964E0;
}

#mode_button:checked{
    background-color: #ffffff;
}

#mode_button:checked:before {
    transform: translate(180%);
}

#dev_caption{
    height: 32px;
    width: 115px;
}

#caption_container{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width:1110px;
    height: 32px;
    top:45px;
    left: 165px;
    align-content: center;
}

/* head search bar */
#search_img{
    background: url(./starter-code/assets/desktop/icon-search.svg);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin-right: 16px;
    margin-left: 32px;
}

#search_text{
    width: 276px;
    height: 24px;
    border: none;
    color:#19202D
}

#search_filter{
    border-right: 1px solid #6E8098;
    height: 80px;
    width: 463px;
    display: flex;
    align-items: center;
}

/* head location bar */
#location_img{
    background: url(./starter-code/assets/desktop/icon-location.svg);
    background-repeat: no-repeat; 
    height: 24px;
    width: 17px;
    margin-left: 23px;
    margin-right: 16px;
    /* border: 1px solid black; */
}

#location_filter{
    width:300px;
    height: 80px;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}

#location_text{
    width:135px;
    height: 24px;
    border: none;
    color:#19202D;
    /* border: 1px solid black; */
}

/* fulltime filter */
#full_part{
    width: 24px;
    height: 24px;
    margin-left: 32px;
    border-radius: 3px;
    background: #19202d;
    /* accent-color:#0d169c; */
    /* accent-color:#19202d;
      mix-blend-mode: normal;*/
    opacity: 0.5;
    cursor: pointer;
   }

   #full_part:checked::before{
    accent-color: #19202d;
    }


#lblfulltime{
    width: 110px;
    height: 16px;
    margin-left: 16px;
}

#btnSearch{
    width: 123px;
    height: 48px;
    /* background-color: #3e27d1; */
    background-color: #5964E0;
    color: #FFFFFF;
    border-radius: 8px;
    border: #5964E0;
    margin-left: 26px;
    
}

#fulltime_filter{
    width: 345px;
    height: 80px;
    border-left:1px solid #6e8098;
    display: flex;
    align-items: center;
}

/* search container */
#search_container{
    display: flex;
    position: absolute;
    top:120px;
    left:165px;
    background-color: #FFFFFF;
    border-radius: 6px;
}


/* Main Section Styling */
#mid_Container{
    margin:80px 165px;
}

.mid_Grid{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 253px 253px 253px auto;
    column-gap: 30px;
    row-gap: 40px;
}

/* Job Item Container */
.jobItem{
    height: 253px;
    width: 350px;
    position: relative;
    /* border:1px solid transparent; */
}

.jobSubItem{
    height: 226px;
    width: 348px;
    position:absolute;
    margin-top: 22px;
    background-color:#FFFF;
    border:1px solid #FFFF;
    border-radius: 6px;
    font-size: 0px;
}


/* Job Bag Container */
.jobBag{
    height: 147px;
    width: 263px;
    /* border:1px solid greenyellow; */
    position: relative;
    margin-top: 49px;
    margin-bottom: 28px;
    margin-left: 32px;
}

/* Job Advert Status Container */
.jobStatus{
    width: max-content;
    height: 19px;
    /* border: 1px solid blue; */

    display: flex;
   /* justify-content:space-between;  */
}



/* Job Status Time, Point and Type Styling */
.sPoint{
    height: 4px;
    width: 4px;
    margin-right: 12px;
    margin-left: 12px;
    background-color: #6E8098;
    place-self: end;
}

.sTime{
    height:16px;
    /* width:65px; */
    width: max-content;
}

.sType{
    height:16px;
    /* width:75px; */
    width: max-content;
}

.logoBag{
    width: 50px;
    height: 50px;
    top:0px;
    left: 32px;
    border-radius: 15px;
    position:absolute;
    z-index: 3; 
}

/*Job Specialty Styling*/

.jobSpecialty{
    width:320px;
    height: 22px;
    font-size: 20px;
    line-height: 25px;
    cursor: pointer;
    margin-top:15px;
    /* border: 1px solid cyan; */
}

.jobCompany{
    width: max-content;
    height: 16px;
    margin-top: 17px;
    /* border: 1px solid cyan; */
}

.joblocation{
    width: 286px;
    height: 20px;
    font-size: 14px;
    line-height: 17px;
    margin-top:44px;
    color: #5964E0;
}
/* Job Advert Company Logo List Styling */
.scoot{
    background-color: #e99210;
}

.scoot_Size{
    width: 40px;
    height: 11.42px;
    margin:19px auto; 
}

.blogr{
    background-color: #E54D25;
}

.blogr_Size{
    width: 21px;
    height: 17px;
    margin:17px auto;
}

.vector{
    background-color: #34353F;
}

.vector_Size{
    width: 38px;
    height: 3px;
    margin:23px auto;
}

.officelite{
    background-color: #2F4FC7;
}

.officelite_Size{
    width: 30px;
    height: 20px;
    margin:15px auto;
}

.pod{
    background-color:#132034;
}

.pod_Size{
    width: 24px;
    height: 24px;
    margin:13px auto;
}


.creative{
    background-color:#4E1853;
}

.creative_Size{
    width: 25.61px;
    height: 26px;
    margin:12px 9px 12px 13px;
}


.pomodoro{
    background-color:#4722C6;
}

.pomodoro_Size{
    width: 34px;
    height: 7px;
    margin:22px auto;
}


.maker{
    background-color:#21427D;
}

.maker_Size{
    width: 22px;
    height: 22px;
    margin:14px auto;
}

.coffeeroasters{
    background-color:#F2DECB;
}

.coffeeroasters_Size{
    width: 24px;
    height: 24px;
    margin:13px auto;
}


.mastercraft{
    background-color: #1F1F1F;
}

.mastercraft_Size{
    width: 26px;
    height: 26px;
    margin:12px auto;
}

.crowdfund{
    background-color: #37C790;
}

.crowdfund_Size{
    width: 38px;
    height: 6px;
    margin:22px auto;
}


.typemaster{
    background-color: #F16718;
}

.typemaster_Size{
    width: 24px;
    height: 24px;
    margin:13px auto;
}