@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800;900&display=swap');

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

*,html{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family:'Kumbh Sans', sans-serif;
}

body{
    /* width: 1440px; */
    height:100vh;
    background-color: var(--main-bg);
    /* width: 100vw; */
    /* overflow-x: hidden; */
    padding:0px;
    margin: 0 auto;
}

#job_foot{
    margin:0 auto;
}

/* Mode Switch And Color Settings  */
.light{
    --main-bg: #f4f6f8;
    --caption-color:#FFFFFF;
    --switch-btn-color:#5964e0;
    --text-bg: #FFFFFF;
    --button-bg: #5964E0;
    --button-bg2: #939BF4;
    --text-head:#19202D;
    --text-main:#6E8098;
    --check-hover:#5964E0;
    --check-idle:#19202D1A;
    --check-border-bg:#ffffff1A;
    --company-site-forebtn:#5964E0;
    --company-site-rearbtn:#5964E01A;
    --job-sptext-main:#6E8098;
    --company-site-hoverbtn:#5964e059;
    --err-message-bg:#5964E01A;
    --search-bar-section:#6e809833;
    --filter-icon-color:#6E8098;
    --modal-bg-color:#00000080;
}

.dark{
    --main-bg: #121721;
    --caption-color:#FFFFFF;
    --switch-btn-color:#5964E0;
    --text-bg:#19202D;
    --button-bg: #5964E0;
    --button-bg2: #939BF4;
    --text-head:#FFFFFF;
   --text-main:#6E8098;
   --check-hover:#5964E0;
    --company-site-btn:#FFFFFF;
    --job-sptext-main:#9DAEC2;
    --company-site-forebtn:#FFFFFF;
    --company-site-rearbtn:#ffffff1A;
    --company-site-hoverbtn:#FFFFFF40;
    --check-idle:#ffffff1A;
    --check-border-bg:#19202D1A;
    --err-message-bg:#FFFFFF40;
    --search-bar-section:#6e809833;
    --filter-icon-color:#FFFFFF;
    --modal-bg-color:#00000080;
}


/* font sizes */

.font_size_28{
    line-height: 34px;
    font-size: 28px;
}

.font_size_24{
    line-height: 30px;
    font-size: 24px;
}

.font_size_16{
    line-height: 20px;
    font-size: 16px;
}

.font_size_20{
    line-height:25px;
    font-size: 20px;
}
.normal_font{
   font-size: 16px;
   line-height: 26px;
}

.font_16_2{
    font-size:16px;
    line-height:19.84px;
}

/* font family */
.bold_font_90{
    font-weight: 900;
}

.bold_font_70{
    font-weight: 700;
}

.font_40{
    font-weight: 400;
}

/* Colors */
.font-caption-color{
    color:var(--caption-color)
}
.font-color-white{
    color: var(--caption-color);
}

.font-color-violet{
    color: var(--button-bg);
}

.font-color-gray{
    color: var(--text-main);
}

.font-color-spmain{
    color:var(--job-sptext-main);
}

.font-color-spcompany{
    color:var(--company-site-forebtn);
}

.font-color-2{
    color:var(--text-head);
}

#header_container,#img_container{
    width: 1440px;
}

/* Header Caption and Theme */
.img_head1{
   background: url(./starter-code/assets/desktop/bg-pattern-header.svg); 
   background-repeat: no-repeat;
   /* background-size: 100% auto; */
   /* width: 100vw; */
   width:1440px;
   height:162px;
  /* margin:0 auto; */
}

.img_sun{
    background: url(./starter-code/assets/desktop/icon-sun.svg);
    background-repeat: no-repeat;
    height: 18.6px;
    width:20px;
    margin-top: 2px;
}


.img_moon{
    background: url(./starter-code/assets/desktop/icon-moon.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-top: 6px;
    margin-left: 5px;
}

#theme_container{
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 24px;
    width: 112px;
}

/* Implement Switch Button for Dark-Light Mode */
#myMode{
    position: relative;
    width: min-content;
    height: auto;
}
.swbackgrd{
   display: block; 
   height: 24px;
   width: 48px;
   position: relative;
   mix-blend-mode:normal;
   background: var(--caption-color);
   margin:auto 8px;
   cursor: pointer;
   border-radius: 12px;
   transition: ease-in 0.3s;
   overflow: hidden;
   border: 1px solid var(--switch-btn-color);
}

.switch1{
    content: "";
    position: absolute;
    top:5px;
    left: 10px;
    width:14px;
    height: 14px;
    border-radius: 50%;
    transition: 0.5s;
    z-index: 1;
    background-color:var(--button-bg);
}

#mode_button:checked ~ .switch1{
    /* background:var(--button-bg); */
    transform: translateX(30px);
}

#mode_button{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    user-select: none;
  }

.mode_state,#btnSearch:hover,
#btn_jobs:hover,.switch1:hover,
.spbtnapply:hover,#search_bg:hover
{
    background:var(--button-bg2);
    cursor: pointer;
}

#dev_caption{
    height: 32px;
    width: 115px;
}

#caption_container{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width:1110px;
    height: 32px;
    top:45px;
    /* left: 165px; */
    align-content: center;

    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

/* head search bar */
#search_img{
    background: url(./starter-code/assets/desktop/icon-search.svg);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin-right: 16px;
    margin-left: 32px;
}

#search_text{
    width: 276px;
    height: 24px;
    border: none;
    opacity: 0.5;
    color:var(--text-head);
    background-color: var(--text-bg);
}

#search_filter{
    border-right: 1px solid var(--search-bar-section);
    height: 80px;
    width: 463px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}


#search_wrap{
    font-size: 0;
}

/* head location bar */
#location_img{
    background: url(./starter-code/assets/desktop/icon-location.svg);
    background-repeat: no-repeat; 
    height: 24px;
    width: 17px;
    margin-left: 23px;
    margin-right: 16px;
    /* border: 1px solid black; */
}

#location_filter{
    width:300px;
    height: 80px;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    cursor: pointer;
}

#location_text{
    width:135px;
    height: 24px;
    border: none;
    opacity: 0.5;
    color:var(--text-head);
    background-color: var(--text-bg);
    /* border: 1px solid black; */
}

/* fulltime filter Implementation*/

/* let's implement a custom checkbox 01 Dec 2022*/ 
/* .................................................. */
.fcontain{
    display: block;
    position:relative;
    cursor: pointer;
    font-size: 22px;
}

/* Hide the browser's default checkbox */
.fcontain input {
    position:absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark{
    position:absolute;
    top:-10px;
    left:32px;
    height: 24px;
    width: 24px;
    background-color: var(--check-idle);
    /* border:1px solid var(--check-border-bg); */
    border:transparent;
    border-radius: 3px;
}

/* On mouse-over, add a custom blue background color */
.fcontain:hover input ~ .checkmark{
    background-color: var(--check-hover) ;
    opacity: 0.25;
}

/* When the checkbox is checked, add a blue background */
.fcontain input:checked ~ .checkmark {
    background-color:var(--check-hover);
    opacity: 1;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after{
    content:"";
    position:absolute;
    display:none;
}

/* Show the checkmark when checked */
.fcontain input:checked ~ .checkmark::after{
    display: block;
}

/* Style the checkmark/indicator */
.fcontain .checkmark::after {

   left:8px;
   top:3px;
   width: 5px;
   height: 14px;
   border: solid white;
   border-width: 0 2px 2px 0;
   transform: rotate(35deg);
}

/* ...................................................... */
/* End of checkbox line of action */
/* ////////////////////////////////////////////////// */

#lblfulltime{
    width: 110px;
    height: 16px;
    margin-left: 72px;
    cursor: pointer;
    color:var(--text-head);
}

#btnSearch{
    width: 123px;
    height: 48px;
    background-color: var(--button-bg);
    color: var(--caption-color);
    border-radius: 8px;
    border: var(--button-bg);
    margin-left: 26px;
    cursor: pointer;
}

#fulltime_filter{
    width: 345px;
    height: 80px;
    border-left:1px solid var(--search-bar-section);
    display: flex;
    align-items: center;
}

/* search container */
#search_container{
    display: flex;
    position: absolute;
    top:120px;
    /* left:165px; */
    background-color: var(--text-bg);
    border-radius: 6px;

    width:max-content;
    left:0px;
    right:0px;
    margin-left: auto;
    margin-right: auto;

}


/* Main Section Styling */
#mid_Container{
    margin:80px 165px;
}

.mid_Grid{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 253px 253px 253px auto;
    column-gap: 30px;
    row-gap: 40px;
}

/* Job Item Container */
.jobItem{
    height: 253px;
    width: 350px;
    position: relative;
    /* border:1px solid transparent; */
}

.jobSubItem{
    height: 226px;
    width: 348px;
    position:absolute;
    margin-top: 22px;
    background-color:  var(--text-bg);
    border:1px solid var(--text-bg);
    border-radius: 6px;
    font-size: 0px;
}


/* Job Bag Container */
.jobBag{
    height: 147px;
    width: 263px;
    /* border:1px solid greenyellow; */
    position: relative;
    margin-top: 49px;
    margin-bottom: 28px;
    margin-left: 32px;
}

/* Job Advert Status Container */
.jobStatus{
    width: max-content;
    height: 19px;
    /* border: 1px solid blue; */
    display: flex;
   /* justify-content:space-between;  */
}



/* Job Status Time, Point and Type Styling */
.sPoint{
    height: 4px;
    width: 4px;
    margin-right: 12px;
    margin-left: 12px;
    background-color:var(--text-main);
    place-self: end;
    margin-bottom: 5px;
}

.sTime{
    height:16px;
    /* width:65px; */
    width: max-content;
}

.sType{
    height:16px;
    /* width:75px; */
    width: max-content;
}

.logoBag{
    width: 50px;
    height: 50px;
    top:0px;
    left: 32px;
    border-radius: 15px;
    position:absolute;
    z-index: 3; 
}

/*Job Specialty Styling*/

.jobSpecialty{
    width:max-content;
    height: 22px;
    font-size: 20px;
    line-height: 25px;
    cursor: pointer;
    margin-top:15px;
    /* border: 1px solid cyan; */
}

.jobSpecialty:hover{
    color:var(--text-main);
}

.jobCompany{
    width: max-content;
    height: 16px;
    margin-top: 17px;
    /* border: 1px solid cyan; */
}

.joblocation{
    width: 286px;
    height: 20px;
    font-size: 14px;
    line-height: 17px;
    margin-top:44px;
    color:var(--button-bg);
}


/* Job Advert Company Logo List Styling */
.scoot{
    background-color: #e99210;
}

.scoot_Size{
    width: 40px;
    height: 11.42px;
    margin:19px auto; 
}

.blogr{
    background-color: #E54D25;
}

.blogr_Size{
    width: 21px;
    height: 17px;
    margin:17px auto;
}

.vector{
    background-color: #34353F;
}

.vector_Size{
    width: 38px;
    height: 3px;
    margin:23px auto;
}

.officelite{
    background-color: #2F4FC7;
}

.officelite_Size{
    width: 30px;
    height: 20px;
    margin:15px auto;
}

.pod{
    background-color:#132034;
}

.pod_Size{
    width: 24px;
    height: 24px;
    margin:13px auto;
}


.creative{
    background-color:#4E1853;
}

.creative_Size{
    width: 25.61px;
    height: 26px;
    margin:12px 9px 12px 13px;
}


.pomodoro{
    background-color:#4722C6;
}

.pomodoro_Size{
    width: 34px;
    height: 7px;
    margin:22px auto;
}


.maker{
    background-color:#21427D;
}

.maker_Size{
    width: 22px;
    height: 22px;
    margin:14px auto;
}

.coffeeroasters{
    background-color:#F2DECB;
}

.coffeeroasters_Size{
    width: 24px;
    height: 24px;
    margin:13px auto;
}


.mastercraft{
    background-color: #1F1F1F;
}

.mastercraft_Size{
    width: 26px;
    height: 26px;
    margin:12px auto;
}

.crowdfund{
    background-color: #37C790;
}

.crowdfund_Size{
    width: 38px;
    height: 6px;
    margin:22px auto;
}


.typemaster{
    background-color: #F16718;
}

.typemaster_Size{
    width: 24px;
    height: 24px;
    margin:13px auto;
}

.more_jobs{
    position: absolute;
    width:141px;
    height: 48px;
    background-color:var(--button-bg);
    color: var(--caption-color);
    border-radius: 8px;
    border:var(--button-bg);
    cursor: pointer;
}

#newjob{
    width: max-content;
    height: auto;
    margin:56px auto;
    border:1px var(--button-bg);
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    place-content: center center;
    padding-bottom: 104px;
}


.errShow{
    height: 150px;
    width: 730px;
    background:var(--err-message-bg);
    color:var(--text-head);
    font-weight: 700;
    border-radius: 10px;
    font-size:20px;
    padding:50px;
    overflow:hidden;
    top:250px;
    left:350px;
    text-align: center;
    position: absolute;
    z-index: 15;
}

/* Stylings for Job Specification Details*/
/* Style for Main Job Detail Container */
.spec_show{
    width:730px;
    height: max-content;
    position:absolute;
    top:120px;
    /* left:355px; */
    /* padding-left: 0px;
    margin-left: 0px; */
    border-radius: 6px;
    /* border: 1px solid yellow; */


    left:0;
    right:0;
    margin-left:auto;
    margin-right: auto;
}

.edheadbag{
    width: 728px;
    /* height: 140px; */
    height: fit-content;
    display: flex;

    /* border:1px solid blue; */
    background-color:var(--text-bg);
    border-radius: 6px;
}

.cdblogo{
    width: 140px;
    height: 140px;
    /* border:1px solid gold; */
    border-bottom-left-radius: 6px;
}

/* speciality company logo stylings */
.scoot_dsize{
    width: 100px;
    height: 40px;
    margin:55px 25px;
    background-size:contain;   
}

.scoot_dimg{
    width: 80%;
    height: auto;
}

.blogr_dsize{
    width: 100px;
    height: 40px;
    margin:40px;
    background-size:contain;   
}

.blogr_dimg{
    width: 80%;
    height: auto;
}


.vector_dsize{
    width: 120px;
    height: 40px;
    margin:55px 8px;
    background-size:contain;   
}

.vector_dimg{
    width: 100%;
    height: auto;
}

.officelite_dsize{
    width: 100px;
    height: 40px;
    margin:40px 30px;
    background-size:contain;   
}

.officelite_dimg{
    width: 80%;
    height: auto;
}

.pod_dsize{
    width: 100px;
    height: 40px;
    margin:28px;
    background-size:contain;   
}

.pod_dimg{
    width: 80%;
    height: auto;
}

.creative_dsize{
    width: 100px;
    height: 40px;
    margin:30px;
    background-size:contain;   
}

.creative_dimg{
    width: 80%;
    height: auto;
}


.pomodoro_dsize{
    width: 120px;
    height: 40px;
    margin:55px 8px;
    background-size:contain;   
}

.pomodoro_dimg{
    width: 100%;
    height: auto;
}

.maker_dsize{
    width: 100px;
    height: 40px;
    margin:28px;
    background-size:contain;   
}

.maker_dimg{
    width: 80%;
    height: auto;
}

.coffeeroasters_dsize{
    width: 100px;
    height: 40px;
    margin:28px;
    background-size:contain;   
}

.coffeeroasters_dimg{
    width: 80%;
    height: auto;
}

.mastercraft_dsize{
    width: 100px;
    height: 40px;
    margin:30px 25px;
    background-size:contain;   
}

.mastercraft_dimg{
    width: 80%;
    height: auto;
}

.crowdfund_dsize{
    width: 120px;
    height: 40px;
    margin:55px 8px;
    background-size:contain;   
}

.crowdfund_dimg{
    width: 100%;
    height: auto;
}

.typemaster_dsize{
    width: 100px;
    height: 40px;
    margin:28px;
    background-size:contain;   
}

.typemaster_dimg{
    width: 80%;
    height: auto;
}

/*Styling for Job Spec Details-Company Section of Header*/
.compheadbag{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:var(--text-bg);
    border-radius: 6px;
}

.scomphbag{
    width: max-content;
    height: max-content;
    margin-left: 40px;
    background-color:var(--text-bg)
}

.hcompnbag{
    width:max-content;
    height: 24px;
}

.hcompdsite{
    width:76px;
    height: 20px;
    margin-top:10px;
}

.hcompdbtn{
     width:147px;
    height: 48px;
    position: relative;
    border-radius: 5px;
    border-color:transparent;
    margin-right: 43px;
    background-color: var(--company-site-rearbtn);
}

.hcompdbtn:hover{
    cursor: pointer;
    background-color: var(--company-site-hoverbtn);
}

/* Styling for Job speciality detail -main section */
.mainjobcdetail{
    width: 100%;
    height: max-content;
    margin-top: 32px;
    border:1px solid var(--text-bg);
    background-color: var(--text-bg);
    border-radius: 5px;
}


.jobadvcontainer{
   width: 639px;
   height: 87px; 
   display: flex;
   justify-content:space-between;
   place-items: center center;
   margin: 48px auto 40px auto;
}

.spjobadbag{
    width: 468px;
    height:max-content;
}

.spjobSpecialty{
    width:max-content;
    height: 30px;
    font-size: 28px;
    line-height: 35px;
    margin-top:5px;
    margin-bottom: 10px; 
}

.spjoblocation{
    width: 286px;
    height: 20px;
    font-size: 14px;
    line-height: 17px;
    margin-top:8px;
    color:var(--button-bg);
}

.spbtnapply{
    width: 141px;
    height: 48px;
    background-color:var(--button-bg);
    border:var(--button-bg);
    border-radius: 5px;
}

.spdjbesBag{
    width:max-content;
    height:max-content;
    margin:40px auto;
}

.spjbescribe{
    width:639px;
    height:auto;
    text-align:justify;
}

.spReqLabel{
    width: max-content;
    height: fit-content;
    margin-left:48px;
    margin-top:40px;
}

.spjreqdiv{
    width:max-content;
    height:max-content;
    margin:28px auto 24px auto;
}

.spjbReqContents{
    width:639px;
    height:max-content;
    text-align: justify;
}

.spreqlstBag{
    width:639px;
    height:max-content;
    text-align: left;
    margin:0px auto;
}

.splistBag{
    width: 639px;
    height: auto;
    display: flex;
    /* justify-content: space-between; */
    position:relative;
}

.splistSachet{
    width: 4px;
    height:4px;
    background:var(--button-bg);
    border-radius: 50%;
    position:absolute;
    top:12px;
}

.spreqMItem{
    width: 603px;
    height: auto;
    margin-left:36px;
}

.sptaskMLabel{
    width: max-content;
    height: fit-content;
    margin-left:48px;
    margin-top:48px;
}


.spseeklstBag{
    width:639px;
    height:max-content;
    text-align: left;
    margin:24px auto 48px auto;
}

.jseekItem{
    width: 8px;
    height:26px;
    background:var(--text-bg);
    position:absolute;
    top:1px;
}


/* Footer Styling */
.specd{
    width:100vw;
    height: 96px;
    margin-top: 80px;
    position:absolute;
    border-radius: 6px;
    background-color:var(--text-bg);
}

#inf_container{
    width: 730px;
    height: 51px;
    margin: 23px 355px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#spec_title{
    width: max-content;
    height: auto;
}

#iapply{
    width: max-content;
    height: auto;
}

.sdigital{
    margin-top: 12px;
}


/* Media Queries */
/* Tablet Mode1 */
@media screen and (min-width:768px) and (max-width:869px){

    body{
        margin:0 auto;
    }

    #header_container,#img_container{
        width: 768px;
    }

    /* Header Caption and Theme */
    .img_head1{
        background: url(./starter-code/assets/tablet/bg-pattern-header.svg); 
        background-repeat: no-repeat;
        width: 768px;
        height:160px;
    }

    #caption_container{
        width:689px;
        top:40px;
        /* left: 39px; */
        display: flex;
        justify-content: space-between;
        position: absolute;
        height: 32px;
        align-content: center;

        left: 0;
        right:0;
        margin-left: auto;
        margin-right: auto;
    }

    /* search container */
    #search_container{
        /* left:39px; */
        width:max-content;
        left:0px;
        right:0px;
        margin-left: auto;
        margin-right: auto;
    }

    #search_img{
        margin-left: 24px;
        margin-right: 16px;
        height: 24px;
        width: 24px;
    }

    #search_text{
        width: 147px;
        line-height:20px;
    }
    
    
    #search_filter{
        width: 222px;
        display: flex;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
    }

    #location_filter{
        width:213px;
        height: 80px;
        display: flex;
        align-items: center;
    }
    
    #location_text{
        width:135px;
        height: 20px; 
       line-height:20px;

       border: none;
       opacity: 0.5;
       color:var(--text-head);
       background-color: var(--text-bg);
    }

    #fulltime_filter{
        width: 252px;
    }
    #btnSearch{
        width: 80px;
        margin-left: 28px;
    }

    .checkmark{
        left: 20px;
        

    }
    
    #lblfulltime{
        width: 70px;
        margin-left: 60px;
    }

   #mid_Container{
        width:689px;
        position:absolute;
        left:0;
        right: 0;
        margin-top:80px;
        margin-left: auto;
        margin-right: auto;
    }

    .mid_Grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        column-gap: 11px;
        row-gap: 40px;
    }

    .jobItem{
        height: 228px;
        width: 339px;
    }
    .jobSubItem{
        height: 226px;
        width: 339px;
        margin-top: 22px;
    }
    
    
    /* Job Bag Container */
    .jobBag{
        height: max-content;
        width: 263px;
        margin-top: 49px;
        margin-bottom: 28px;
        margin-left: 32px;
    }

    #newjob{
        padding-bottom: 61px;
    }

    .errShow{
        height: 150px;
        width: 630px;
        font-size:18px;
        /* left:30px; */
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }

    /* Speciality Detail Form */
    .spec_show{
        width:689px;
        top:-120px;
        /* margin-top: 120px; */
        left:0px;
        right:0px;
        margin-left: auto;
        margin-right: auto;
    }

    .edheadbag{
        width: 689px;
        height: fit-content;
        display: flex;
    
        background-color:var(--text-bg);
        border-radius: 6px;
    }

    .jobadvcontainer{
    width: 577px;
    height: 87px; 
    margin: 48px auto 40px auto;
    display: flex;
    justify-content:space-between;
    place-items: center center;
    }

    .spjbescribe,.spjbReqContents,
    .spreqlstBag,.splistBag,
    .spreqMItem,.spseeklstBag
    {
        width:593px;
    }

    /* Footer Styling */
    .specd{
        width:100vw;
        height: 96px;
        margin-top: 53px;
        position:absolute;
        border-radius: 6px;
        background-color:var(--text-bg);

        /* centering div */
        left:0;
        right: 0;
        margin-left:auto;
        margin-right:auto;
    }   

    #inf_container{
        width: 689px;
        height: 51px;
        margin: 23px 39px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Created Search div for Mobile Search Functionality */

#mobile_search{
    position: absolute;
    display: flex;
    align-items: center;
    height: 80px;
    width: 327px;
    background-color: var(--text-bg) ;
    border-radius: 6px;
    top:20px;
    left:500px;
    cursor: pointer;
}

#mobile_text{
    width:105px;
    height: 16px;
    margin-left: 24px;
    border: none;
    opacity: 0.5;
    color:var(--text-head);
    background-color: var(--text-bg);
}

#mobile_search svg {
    display: inline;
    margin-left: 90px;
    cursor: pointer;
  }

  #spfilter{
    fill:var(--filter-icon-color);
  }

 
  #srclogoID{
    fill:var(--caption-color);
  }

  #search_bg{
    width:48px;
    height: 48px;
    background-color: var(--button-bg);
    margin-left:24px;
    border-radius: 5px;
    cursor: pointer;
  }

  #search_bg svg{
    display: inline;
    margin-left:12px;
    margin-top:12px;
  }


  /* Create a Modal Div for Mobile Searches */
  .modal {
    display: none;
    position: fixed;
    z-index: 25;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--modal-bg-color);
  }

/* End of Mobile Search Implementation  */

  /* ..............End of Mobile Search Page.................. */


  /* Standard Mobile Device Settings */

  @media screen and (min-width:375px) and (max-width:450px){

    #header_container,#img_container{
        width: 375px;
    }

    .img_moon{
        font-size: 0px;
    }

    .img_head1{
        background: url(./starter-code/assets/mobile/bg-pattern-header.svg); 
        background-repeat: no-repeat;
        width: 375px;
        height:136px;
    }

    #caption_container{
        width:327px;
        top:32px;
        left: 0;
        right:0;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        justify-content: space-between;
        position: absolute;
        height: 32px;
        align-content: center;
    }


    #mobile_search{
        top:96px;
        left:0;
        right:0;
        margin-left: auto;
        margin-right: auto;

        position: absolute;
        display: flex;
        align-items: center;
        height: 80px;
        width: 327px;
        background-color: var(--text-bg) ;
        border-radius: 6px;
        cursor: pointer;
    }

    #search_container{
        width: 327px;
        height:217px;
        flex-direction: column;

        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #fulltime_filter{
        width: 327px;
        height: 144px;
        border-top:1px solid var(--search-bar-section);
        display: flex;
        /* align-items: center; */
        flex-direction: column;
    }

    #btnSearch{
        width: 279px;
        height:48px;
        margin:24px 24px 31px 24px;
    }

    .checkmark{
        margin-top:28px;
        margin-left:-170px;
        /* margin-right:16px; */
    }

    #lblfulltime{
        margin-top:20px;
        margin-left:-90px;
    }

    #location_img{
        margin-left: 24px;
        height: 24px;
        width: 17px;
        margin-right: 16px;
    }

    /* Create a Modal Div for Mobile Searches */
    /* .modal {
        display: none;
        position: fixed;
        z-index: 25;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: var(--modal-bg-color);
      } */

    /* End of Mobile Search Implementation  */

    .mid_Grid{
        display: grid;
        grid-template-columns: 327px;
        grid-template-rows: auto auto auto auto;
        row-gap: 24px;
    }

    #mid_Container{
        width:327px;
        top:130px;
        position: absolute; 

        left:0;
        right:0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        /* padding-bottom: 10px; */
    }

    .jobItem{
        height: 253px;
        width: 327px;
        position: relative;
        /* border:1px solid transparent; */
    }


    .jobSubItem{
        height: 226px;
        width: 327px;
         margin-top: 22px;
        position:absolute; 
        background-color:  var(--text-bg);
        border:1px solid var(--text-bg);
        border-radius: 6px;
        font-size: 0px;
    }

    #newjob{
        width: max-content;
        height: auto;
        /* margin:40px auto 0px auto; */
        padding-bottom: 50px;
    }

    .errShow{
        height: 90px;
        width: 327px;
        background:var(--err-message-bg);
        color:var(--text-head);
        font-weight: 700;
        border-radius: 10px;
        font-size:15px;
        padding:20px;
        overflow:hidden;
        text-align: center;
        position: absolute;
        z-index: 15;
        
        
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;

    }

    .spec_show{
        width:327px;
        height: max-content;
        position:absolute;
        top:-90px;
        left:0px;
        right:0px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 6px;
    }
    /* Work on Mobile Job Detail Footer  */
    /* Footer Styling */
    .specd{
        width:375px;
        height: 60px;
        margin-top: 64px;
        position:absolute;
        border-radius: 6px;
        background-color:var(--text-bg);

        /* centering div */
        left:0;
        right: 0;
        margin-left:auto;
        margin-right:auto;
    }   

    #spec_foot{
        width: 0px;
        height: 0px;
        overflow: hidden;
    }

    #iapply{
        width: max-content;
        height: auto;
    }

    #btn_apply{
        width:327px;
        height: 48px;
        margin-top:0px;
    }

    /* Let's work on head section of Job Detail Page */

    .edheadbag{
        width: 327px;
        height: 205px;
        display: flex;
        flex-direction: column;
    
        background-color:var(--text-bg);
        border-radius: 6px;
    }

    .compheadbag{
        width:100% ;
        height: auto;
        display: flex;
        flex-direction: column;
        /* justify-content:center; */
        align-items: center;
        justify-items: center;
        background-color:var(--text-bg);
        border-radius: 6px;
    }

    .hcompdsite{
        width:max-content;
        height: max-content;
        margin-top:11px;

        left:0px;
        right:0px;
        margin-left:auto;
        margin-right: auto;
    }

    .hcompdbtn{
       width:147px;
       height: 48px;
       position: relative;
       border-radius: 5px;
       border-color:transparent;
       margin-right: 0px;
       margin-top:24px;
       background-color: var(--company-site-rearbtn);
   }

   .hcompnbag{
        width:max-content;
        height: max-content;
        font-size: 20px;
        line-height: 25px;
        text-align: center;

        left:0;
        right:0;
        margin:auto;
    }


    .scomphbag{
        width: max-content;
        height: max-content;
        margin-left: 0px;
        margin-top:49px;
        text-align: center;
        background-color:var(--text-bg)
    }



    /* Head Company Logo sizes */

    .cdblogo{
        width: 50px;
        height: 50px;
        border-radius: 15px;
        position: absolute;

        left:0px;
        right:0px;
        top:-25px;
        margin:auto;
    }


    .scoot_dimg,.blogr_dimg,.vector_dimg,.creative_dimg,
    .coffeeroasters_dimg,.officelite_dimg,.pod_dimg,.maker_dimg,
    .pomodoro_dimg,.typemaster_dimg,.crowdfund_dimg,
    .mastercraft_dimg{
        width: 100%;
        height: auto;
    }

    .scoot_dsize,.blogr_dsize,.vector_dsize,.creative_dsize,
    .coffeeroasters_dsize,.officelite_dsize,.pod_dsize,
    .pomodoro_dsize,.maker_dsize,.typemaster_dsize,
    .crowdfund_dsize,.mastercraft_dsize{
        width: max-content;
        height: max-content;
        /* margin:15px 5px; */
        background-size:contain;  
        
        left: 0;
        right: 0;
        margin: 15px auto;
    }

    /* main job detail container */

    .mainjobcdetail{
        width: 327px;
        height: max-content;
        margin-top: 24px;
        border:1px solid var(--text-bg);
        background-color: var(--text-bg);
        border-radius: 5px;
    }

    /* Job detail advert and requirements listings */

    .jobadvcontainer{
        width: 327px;
        height: fit-content; 
        display: flex;
        flex-direction: column;
        align-items:flex-start ;
        justify-content:flex-start;
        margin-top: 40px;
        margin-bottom: 0px;
    }

     .spjobadbag{
        width: 279px;
        height:max-content;
        left:0;
        right:0;
        margin-left: auto;
        margin-right: auto;
    }

    .spbtnapply{
        width: 279px;
        height: 48px;
        background-color:var(--button-bg);
        border:var(--button-bg);
        border-radius: 5px;
        left:0;
        right:0;
        margin-top:50px;
        margin-left: auto;
        margin-right: auto;
    }

    .spjobSpecialty{
        width:max-content;
        height: max-content;
        font-size: 20px;
        line-height: 25px;
        margin-top:8px;
        margin-bottom: 0px; 
    }

    .spjoblocation{
        width: max-content;
        height: 20px;
        font-size: 14px;
        line-height: 17px;
        margin-top:12px;
        margin-bottom: 4px;
        color:var(--button-bg);
    }

    .spdjbesBag{
        width:278px;
        height:max-content;
        margin:32px auto 0px auto; 
    }
    
    .spjbescribe {
        width:278px;
        height:auto;
        text-align:justify;
    }

    .spReqLabel{
        width: max-content;
        height: fit-content;
        margin-left:24px;
        margin-top:40px;

    }

    .spjreqdiv{
        width:max-content;
        height:max-content;
        margin:28px auto 32px auto;
    }

    .spjbReqContents,.spreqlstBag,.splistBag
    {
        width:278px;
        height:max-content;
    }

    .spreqMItem{
        width:242px;
        height:max-content; 
    }

    .sptaskMLabel{
        width: max-content;
        height: fit-content;
        margin-left:24px;
        margin-top:40px;
    }

    .spseeklstBag{
        width: max-content;
        height: fit-content;
        margin:0 auto 40px auto;
    }

    #inf_container {
        width: max-content;
        height: 51px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
  }
/* Small Mobile Devices */
  @media screen and (min-width:280px) and (max-width:374px){

    #header_container,#img_container{
        width:100vmin
    }

    .img_head1{
        background: url(./starter-code/assets/mobile/bg-pattern-header.svg); 
        background-repeat: no-repeat;
        height:136px;
        /* background-size: auto 100vw; */
    }

    #inf_container {
        width: max-content;
        height: 51px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #caption_container{
        width:88vw;
        top:32px;
        left: 0;
        right:0;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        justify-content: space-between;
        position: absolute;
        height: 32px;
        align-content: center;
    }

    #mobile_search{
        top:96px;
        left:0;
        right:0;
        margin-left: auto;
        margin-right: auto;

        position: absolute;
        display: flex;
        align-items: center;
        height: 80px;
        width: 88vw;
        background-color: var(--text-bg) ;
        border-radius: 6px;
        cursor: pointer;
    }

    #search_container{
        width: 88vw;
        height:217px;
        flex-direction: column;

        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #fulltime_filter{
        width: 88vw;
        height: 144px;
        border-top:1px solid var(--search-bar-section);
        display: flex;
        flex-direction: column;
    }

    #btnSearch{
        width: 279px;
        height:48px;
        margin:24px 24px 31px 24px;
    }

    .checkmark{
        margin-top:28px;
        margin-left:-170px;
    }

    #lblfulltime{
        margin-top:20px;
        margin-left:-90px;
    }

    #location_img{
        margin-left: 24px;
        height: 24px;
        width: 17px;
        margin-right: 16px;
    }

    .mid_Grid{
        display: grid;
        grid-template-columns: 88vw;
        grid-template-rows: auto auto auto auto;
        row-gap: 24px;
    }

    #mid_Container{
        width:88vw;
        top:130px;
        position: absolute; 

        left:0;
        right:0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        /* padding-bottom: 10px; */
    }

    .jobItem{
        height: 253px;
        width: 88vw;
        position: relative;
        /* border:1px solid transparent; */
    }


    .jobSubItem{
        height: 226px;
        width: 88vw;
         margin-top: 22px;
        position:absolute; 
        background-color:  var(--text-bg);
        border:1px solid var(--text-bg);
        border-radius: 6px;
        font-size: 0px;
    }

    #newjob{
        width: max-content;
        height: auto;
        margin:40px auto 0px auto;
        padding-bottom: 70px;
    }
    .errShow{
        height: 90px;
        width: 88vw;
        background:var(--err-message-bg);
        color:var(--text-head);
        font-weight: 700;
        border-radius: 10px;
        font-size:15px;
        padding:20px;
        overflow:hidden;
        text-align: center;
        position: absolute;
        z-index: 15;
        
        
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;

    }

    .spec_show{
        width:88vw;
        height: max-content;
        position:absolute;
        top:-90px;
        left:0px;
        right:0px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 6px;
    }

    /* Footer Styling */
    .specd{
        width:100vmin;
        height: 60px;
        margin-top: 64px;
        position:absolute;
        border-radius: 6px;
        background-color:var(--text-bg);

        /* centering div */
        left:0;
        right: 0;
        margin-left:auto;
        margin-right:auto;
    }   

    #spec_foot{
        width: 0px;
        height: 0px;
        overflow: hidden;
    }

    #iapply{
        width: max-content;
        height: auto;
    }

    #btn_apply{
        width:88vw;
        height: 48px;
        margin-top:0px;
    }


     /* Let's work on head section of Job Detail Page */

     .edheadbag{
        width: 88vw;
        height: 205px;
        display: flex;
        flex-direction: column;
    
        background-color:var(--text-bg);
        border-radius: 6px;
    }

    .compheadbag{
        width:88vw ;
        height: auto;
        display: flex;
        flex-direction: column;
        /* justify-content:center; */
        align-items: center;
        justify-items: center;
        background-color:var(--text-bg);
        border-radius: 6px;
    }

    .hcompdsite{
        width:max-content;
        height: max-content;
        margin-top:11px;

        left:0px;
        right:0px;
        margin-left:auto;
        margin-right: auto;
    }

    .hcompdbtn{
       width:147px;
       height: 48px;
       position: relative;
       border-radius: 5px;
       border-color:transparent;
       margin-right: 0px;
       margin-top:24px;
       background-color: var(--company-site-rearbtn);
   }

   .hcompnbag{
        width:max-content;
        height: max-content;
        font-size: 20px;
        line-height: 25px;
        text-align: center;

        left:0;
        right:0;
        margin:auto;
    }


    .scomphbag{
        width: max-content;
        height: max-content;
        margin-left: 0px;
        margin-top:49px;
        text-align: center;
        background-color:var(--text-bg)
    }


    /* Head Company Logo sizes */

    .cdblogo{
        width: 50px;
        height: 50px;
        border-radius: 15px;
        position: absolute;

        left:0px;
        right:0px;
        top:-25px;
        margin:auto;
    }


    .scoot_dimg,.blogr_dimg,.vector_dimg,.creative_dimg,
    .coffeeroasters_dimg,.officelite_dimg,.pod_dimg,.maker_dimg,
    .pomodoro_dimg,.typemaster_dimg,.crowdfund_dimg,
    .mastercraft_dimg{
        width: 100%;
        height: auto;
    }

    .scoot_dsize,.blogr_dsize,.vector_dsize,.creative_dsize,
    .coffeeroasters_dsize,.officelite_dsize,.pod_dsize,
    .pomodoro_dsize,.maker_dsize,.typemaster_dsize,
    .crowdfund_dsize,.mastercraft_dsize{
        width: max-content;
        height: max-content;
        /* margin:15px 5px; */
        background-size:contain;  
        
        left: 0;
        right: 0;
        margin: 15px auto;
    }

    /* main job detail container */

    .mainjobcdetail{
        width: 88vw;
        height: max-content;
        margin-top: 24px;
        border:1px solid var(--text-bg);
        background-color: var(--text-bg);
        border-radius: 5px;
    }

    /* Job detail advert and requirements listings */

    .jobadvcontainer{
        width: 88vw;
        height: fit-content; 
        display: flex;
        flex-direction: column;
        align-items:flex-start ;
        justify-content:flex-start;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .spjobadbag{
        width: 75vw;
        height:max-content;
        left:0;
        right:0;
        margin-left: auto;
        margin-right: auto;
    }

    .spbtnapply{
        width: 75vw;
        height: 48px;
        background-color:var(--button-bg);
        border:var(--button-bg);
        border-radius: 5px;
        left:0;
        right:0;
        margin-top:50px;
        margin-left: auto;
        margin-right: auto;
    }

    .spjobSpecialty{
        width:max-content;
        height: max-content;
        font-size: 20px;
        line-height: 25px;
        margin-top:8px;
        margin-bottom: 0px; 
    }

    .spjoblocation{
        width: max-content;
        height: 20px;
        font-size: 14px;
        line-height: 17px;
        margin-top:12px;
        margin-bottom: 4px;
        color:var(--button-bg);
    }

    .spdjbesBag{
        width:85vw;
        height:max-content;
        margin:32px auto 0px auto; 
    }

    .spjbescribe {
        width:80vw;
        height:auto;
        text-align:justify;
        margin-left:auto;
        margin-right: auto;
    }

    .spReqLabel{
        width: max-content;
        height: fit-content;
        margin-left:24px;
        margin-top:40px;

    }

    .spjreqdiv{
        width:80vw;
        height:max-content;
        margin:28px auto 32px auto;
    }

    .spjbReqContents,.spreqlstBag,.splistBag
    {
        width:80vw;
        height:max-content;
    }

    .spreqMItem{
        width:242px;
        height:max-content; 
    }

    .sptaskMLabel{
        width: max-content;
        height: fit-content;
        margin-left:24px;
        margin-top:40px;
    }

    .spseeklstBag{
        width: max-content;
        height: fit-content;
        margin:0 auto 40px auto;
    }

    #inf_container {
        width: max-content;
        height: 51px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    /* Mobile Search Contanier Settings */
    #mobile_text{
        width:105px;
        height: 16px;
        margin-left: 10px;
        font-size: 14px;
        border: none;
        opacity: 0.5;
        color:var(--text-head);
        background-color: var(--text-bg);
    }
    
    #mobile_search svg {
        display: inline;
        margin-left: 30px;
        cursor: pointer;
      }
      #search_bg svg{
        display: inline;
        margin-left:15px;
        margin-top:12px;
      }




  }